<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="SplitterText" value="SQL Query :,Start Processing,Push Deal to Refresh,Returned from Cache,Containing error row,No DB record exist,Node Data :,Push to GDS for Refresh"/>
  <connectionStrings>
    <add name="SqlConn" connectionString="data source=server2;initial catalog=GlobalCMS;user id=globalcms;password=test123$$;"/>
  </connectionStrings>
</configuration>